/*Mobile First - 480px */
html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(235, 238, 238);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    padding: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
    background: rgb(72, 171, 228);
    transition: all 0.5s;
    overflow: hidden;
}
#logo{
    display: none;
}
#navBar{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    font-size: 0.7em;
    list-style: none;
    text-shadow: #000 1px 1px;
    margin: 0;
    padding: 0;
    transition: all 1s;
    z-index: 1;
    transform: translateX(3000px);
}
li{
    font-size: 3vw;
    transition: all 1s;
}
a{
    text-decoration: none;
    margin: 0 5px;
}
a:visited, a:link{
    color: white;
}
#hamburgerMenu{
    margin-right: 2%;
    font-size: 1.5em;
    font-weight: 800;
    cursor: pointer;
    color: white;
    text-shadow: #000 1px 1px;
    z-index: 2;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@keyframes fadeInAnim{
    0%{opacity: 0;};
    100%{opacity: 1;}
}
#aboutMe{
    margin-top: 5%;
    padding: 0 5%;
    display: flex;
    animation: fadeInAnim 1.5s forwards;
    flex-direction: column;
    align-items: center;
}
#myPhoto{
    width: 60vw;
    border-radius: 20px;
}
.textParag{
    color: rgb(64, 68, 70);
    font-weight: 500;
    font-size: 1.5em;
}
.titles{
    font-size: 3em;
    color: rgb(24, 233, 233);
    text-shadow: 0px 0px 2px #000, 0px 0px 4px rgb(180, 180, 180);
}
#photo{
    width: 75vw;
}
.fadeOut{
    opacity: 0;
    transform: translateY(50px);
}
.fadeIn{
    opacity: 1;
    transform: translateY(0px);
}
#skills{
    transition: all 0.5s;
}
.imgSkillsCont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.littleImages{
    margin: 0 5px;
    width: calc(33.33% - 15px);
    filter: drop-shadow(0px 0px 6px rgb(87, 88, 88))
}
.progressBar{
    border: 2px solid #000;
    border-radius: 5px;
    margin-right: 3%;
    width: 50vw;
    height: 2vh;
}
@keyframes htmlBar{
    0%{width: 1%;}
    100%{width: 80%;}
}
#lineProgressBarHTML{
    border-radius: 5px;
    margin: 0;
    padding: 0;
    animation: htmlBar 2s forwards;
    animation-delay: 1.5s;
    height: 100%;
    background: rgb(228, 130, 18);
}
@keyframes CSSBar{
    0%{width: 1%;}
    100%{width: 75%;}
}
#lineProgressBarCSS{
    border-radius: 5px;
    margin: 0;
    padding: 0;
    animation: CSSBar 2s forwards;
    animation-delay: 1.5s;
    height: 100%;
    background: rgb(72, 171, 228);
}
@keyframes JSBar{
    0%{width: 1%;}
    100%{width: 60%;}
}
#lineProgressBarJS{
    border-radius: 5px;
    margin: 0;
    padding: 0;
    animation: JSBar 2s forwards;
    animation-delay: 1.5s;
    height: 100%;
    background: rgb(194, 206, 28);
}
#learningNow{
    transition: all 0.5s;
}
#recentProjects{
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}
#recentProjects article:nth-child(3){
    flex-direction: row-reverse;
}
.projectsCont{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
article:nth-child(1){
    display: flex;
    flex-direction: row-reverse;
}
.projectsImg{
    width: 50vw;
    box-shadow: 2px 2px 6px;
}
.projectParag{
    margin: 0 15px;
}
#contactTitle{
    display: flex;
    justify-content: center;
    margin: 3%;
}
#whatsappCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    transition: all 0.3s;
    padding: 2%;
}
#whatsappCard:hover{
    background-color: rgb(72, 171, 228);
    color: white; 
}
#gmailCard{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 20vh;
    transition: all 0.3s;
    padding: 2%;
}
#gmailCard:hover{
    background-color: rgb(72, 171, 228);
    color: white; 
}
.contactParag{
    margin: 30px;
    font-size: 1.1em;
    font-weight: 400;
}
.imgContact{
    width: 30vw;
    height: 15vh;
    border-radius: 50%;
}
.mediaIcons{
    width: 10vw;
}
#socialMedia{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
